@import "../../../assets/theme";

:host {
  display: block;
  height: 100%;

  input:focus {
    outline: none;
  }

  .contact-list {
    border-radius: 10px;

    .contact-body {
      flex: 1 1 1px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #DDD;
        border-radius: 50px;
      }

      &::-webkit-scrollbar-thumb {
        border: 1px solid #DDD;
        border-radius: 50px;
        background: white;
      }
    }

    .no-bottom {
      border-bottom: 0px !important;
    }

    .contact {
      cursor: pointer;
      border-bottom: 2px solid rgb(211 211 211 / 20%);
      .unread-count {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        overflow: hidden;
        background-color: red;
        color: white;
        font-size: 11px;
      }
      .min-ago {
        color: lightgray;
      }

      &.active {
        background: linear-gradient(90deg, rgba(181,118,23,0.14329481792717091) 0%, rgba(255,68,0,0.03125) 100%);

        .unread-count {
          display: none;
        }
      }
    }
  }
}
