.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

@for $i from 5 through 90 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
