.avatar {
  border-radius: 35%;
  overflow: hidden;
}

.online-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #35ea35;
  position: absolute;
  border: 2px solid white;
  right: 0;
  bottom: 0;
}
