$flame-pea: #D85D31;
$wild-sand: #F4F4F4;

$theme-colors: (
  primary: $flame-pea,
  info: $wild-sand
);

// Spacing
$pixel-spacer: 5px !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 100 {
  $spacers: map-merge($spacers, (
    $i * 5: ($i * $pixel-spacer)
  ));
}

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: 14px,
  8: 12px,
  9: 10px,
);
